.grid {
  display: grid;
  grid-template-columns: 17rem 1fr;

  .sidebar {
    position: relative;
  }

  .content {
    padding: 1.5rem;
  }

  @media (max-width: 675px) {
    grid-template-columns: 1fr;
  }
}
