.country {
  background-color: white;
  padding: 1rem 1rem;
  border-radius: 5px 5px 0 0;
  border-top: 6px solid var(--primary-color);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);

  .name {
    margin-bottom: 1rem;
    font-weight: 800;
  }

  h4 {
    span {
      opacity: 0.7;
    }
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  p {
    a {
      margin-top: 0.8rem;
      font-size: 0.9rem;
      color: black;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
